In [1]:
import pandas as pd
import numpy as np
from os import walk

In [2]:
raw_data_dir = "./trading_monthly"

In [3]:
test = pd.read_csv("./trading_monthly/00032Q104.csv")
test

      datadate   prcod    prchd  prcld   prccd
0   2021-09-01  26.000  32.9900  26.00  29.370
1   2021-10-01  29.560  30.3500  25.60  26.990
2   2021-11-01  27.040  32.5000  20.15  21.490
3   2021-12-01  21.280  26.6000  18.75  24.150
4   2022-01-01  24.460  25.3550  17.15  19.000
5   2022-02-01  19.160  21.1500  15.70  17.420
6   2022-03-01  17.300  20.0900  16.50  16.970
7   2022-04-01  16.930  18.4700  14.60  14.600
8   2022-05-01  14.690  16.5900  11.00  16.110
9   2022-06-01  16.170  17.2700  11.72  12.320
10  2022-07-01  12.360  14.1000  12.07  12.370
11  2022-08-01  12.155  14.7493  12.01  13.550
12  2022-09-01  13.520  14.3400  11.66  14.130
13  2022-10-01  14.390  14.7718  12.35  12.915
14  2022-11-01  12.980  14.1300  12.24  13.380
15  2022-12-01  13.400  13.6000  11.80  12.830
16  2023-01-01  12.910  13.4499  12.00  12.620
17  2023-02-01  12.570  12.9500  10.61  10.770
18  2023-03-01  10.770  11.0000   6.80   7.240

In [10]:
#get all filenames and dataframes
filenames = next(walk(raw_data_dir), (None, None, []))[2]
dataframes = []
for index, value in enumerate(filenames):
    dataframes.append(pd.read_csv(raw_data_dir + "/" + value))
#append the cusip to each entry
dataframes_cusip = []
for index, value in enumerate(filenames):
    df = dataframes[index]
    df["cusip"] = value[:-4]
    dataframes_cusip.append(df)
#merge all the dataframes
one_df_to_rule_them_all = pd.concat(dataframes_cusip, ignore_index=True)
""" pd.DataFrame(columns=["datadate", "prcod", "prchd", "prcld", "prccd", "cusip"])
for index, value in enumerate(dataframes_cusip):
    one_df_to_rule_them_all =  """
one_df_to_rule_them_all

           datadate  prcod  prchd  prcld   prccd      cusip
0        2004-09-01   2.12   2.57   1.93   2.550  665575106
1        2004-10-01   2.55   2.95   2.50   2.690  665575106
2        2004-11-01   2.68   3.10   2.49   2.910  665575106
3        2004-12-01   2.91   3.00   2.60   2.910  665575106
4        2005-01-01   2.92   3.38   2.60   3.010  665575106
...             ...    ...    ...    ...     ...        ...
1001505  2019-12-01   1.60   3.40   1.37   3.350  92766K114
1001506  2020-01-01   3.40   8.31   3.21   6.255  92766K114
1001507  2020-02-01   6.50  28.20   6.45  15.780  92766K114
1001508  2020-03-01  17.95  17.95   4.54   7.475  92766K114
1001509  2020-04-01   6.73   8.50   6.13   7.690  92766K114

[1001510 rows x 6 columns]

In [11]:
one_df_to_rule_them_all.to_csv("agg.csv")

In [12]:
one_df_to_rule_them_all[one_df_to_rule_them_all["cusip"] == "00032Q104"]

          datadate   prcod    prchd  prcld   prccd      cusip
834292  2021-09-01  26.000  32.9900  26.00  29.370  00032Q104
834293  2021-10-01  29.560  30.3500  25.60  26.990  00032Q104
834294  2021-11-01  27.040  32.5000  20.15  21.490  00032Q104
834295  2021-12-01  21.280  26.6000  18.75  24.150  00032Q104
834296  2022-01-01  24.460  25.3550  17.15  19.000  00032Q104
834297  2022-02-01  19.160  21.1500  15.70  17.420  00032Q104
834298  2022-03-01  17.300  20.0900  16.50  16.970  00032Q104
834299  2022-04-01  16.930  18.4700  14.60  14.600  00032Q104
834300  2022-05-01  14.690  16.5900  11.00  16.110  00032Q104
834301  2022-06-01  16.170  17.2700  11.72  12.320  00032Q104
834302  2022-07-01  12.360  14.1000  12.07  12.370  00032Q104
834303  2022-08-01  12.155  14.7493  12.01  13.550  00032Q104
834304  2022-09-01  13.520  14.3400  11.66  14.130  00032Q104
834305  2022-10-01  14.390  14.7718  12.35  12.915  00032Q104
834306  2022-11-01  12.980  14.1300  12.24  13.380  00032Q104
834307  2022-12-01  13.400  13.6000  11.80  12.830  00032Q104
834308  2023-01-01  12.910  13.4499  12.00  12.620  00032Q104
834309  2023-02-01  12.570  12.9500  10.61  10.770  00032Q104
834310  2023-03-01  10.770  11.0000   6.80   7.240  00032Q104